trigger:
  - none

pool: 
  name: "agent1_pool"

variables:
- group: global_variable   # contains INFRACOST_API_KEY secret variable
- name: state_file_name
  value: vinodkey2.tfstate
- name: filepath
  value: $(System.DefaultWorkingDirectory)/infra

stages:
  - stage: "Stage1_download_init_validate"
    jobs:
      - job: infra_install
        displayName : "latrw"
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
       
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: $(filepath)
            backendServiceArm: 'infra_conn'
            backendAzureRmStorageAccountName: 'vinodstoragemaina'
            backendAzureRmContainerName: 'container22'
            backendAzureRmKey: $(state_file_name)

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'validate'
            workingDirectory: $(filepath)

  -  stage: "stage2_plan"
     dependsOn: "Stage1_download_init_validate"
     jobs:
     - job: "infra_plan"
       displayName: "infra plan"   
       steps:
       - task: TerraformInstaller@1
         inputs:
           terraformVersion: 'latest'
       - task: TerraformTask@5
         inputs:
           provider: 'azurerm'
           command: 'init'
           workingDirectory: $(filepath)
           backendServiceArm: 'infra_conn'
           backendAzureRmStorageAccountName: 'vinodstoragemaina'
           backendAzureRmContainerName: 'container22'
           backendAzureRmKey: $(state_file_name)
       - task: TerraformTask@5
         inputs:
           provider: 'azurerm'
           command: 'plan'
           workingDirectory: $(filepath)
           environmentServiceNameAzureRM: 'infra_conn'

  - stage: "security_tool_tflint"
    dependsOn: "Stage1_download_init_validate"
    jobs:
      - job: "tflint"
        displayName: "tflint"
        continueOnError: true
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: |
              # Write your tflint commands here.
              cd infra
              tflint --recursive

  - stage: "security_tool_tfsec"
    dependsOn: "Stage1_download_init_validate"
    jobs:
      - job: "tfsecccc"
        displayName: "tfsec"
        continueOnError: true
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: |
              # Write your  tfsec commands here.
              cd infra
              tfsec

  - stage: "security_tool_trivy"
    dependsOn: "Stage1_download_init_validate"
    jobs:
      - job: "trivy"
        displayName: "trivy scan"
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: |
              # Write your trivy commands here.
              cd infra
              trivy config .
         
  - stage: "infraCost"
    dependsOn: "Stage1_download_init_validate"
    jobs:
      - job: "cost_infra"
        displayName: "costtt"
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: $(filepath)
            backendServiceArm: 'infra_conn'
            backendAzureRmStorageAccountName: 'vinodstoragemaina'
            backendAzureRmContainerName: 'container22'
            backendAzureRmKey: $(state_file_name)
        
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: |
              Write-Host "Setting API key"
               $env:INFRACOST_API_KEY = "$(INFRACOST_API_KEY)"
              
              Write-Host "API key loaded? ->" $env:INFRACOST_API_KEY
              
               infracost breakdown --path=.
            workingDirectory: $(filepath)

  - stage: "stage3_apply"
    dependsOn: "stage2_plan"
    jobs:
      - job: "terrafomr_apply"
        displayName: "apply"
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest' 
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: $(filepath)
            backendServiceArm: 'infra_conn'
            backendAzureRmStorageAccountName: 'vinodstoragemaina'
            backendAzureRmContainerName: 'container22'
            backendAzureRmKey: $(state_file_name)
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'apply'
            workingDirectory: $(filepath)
            commandOptions: '-auto-approve'
            environmentServiceNameAzureRM: 'infra_conn'
 