trigger:
  - none

pool: 
  name: "agent1_pool"

variables:
- group: global_variable   # contains INFRACOST_API_KEY secret variable
 
stages:
  - stage: "Stage1_download_init_validate"
    jobs:
      - job: infra_install
        displayName : "latrw"
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
       
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            backendServiceArm: 'infra_conn'
            backendAzureRmStorageAccountName: 'vinodstoragemaina'
            backendAzureRmContainerName: 'container22'
            backendAzureRmKey: 'vinodkey2.tfstate'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'validate'

  -  stage: "stage2_plan"
     dependsOn: "Stage1_download_init_validate"
     jobs:
     - job: "infra_plan"
       displayName: "infra plan"   
       steps:
       - task: TerraformInstaller@1
         inputs:
           terraformVersion: 'latest'
       - task: TerraformTask@5
         inputs:
           provider: 'azurerm'
           command: 'init'
           backendServiceArm: 'infra_conn'
           backendAzureRmStorageAccountName: 'vinodstoragemaina'
           backendAzureRmContainerName: 'container22'
           backendAzureRmKey: 'vinodkey.tfstate'
       - task: TerraformTask@5
         inputs:
           provider: 'azurerm'
           command: 'plan'
           environmentServiceNameAzureRM: 'infra_conn'

  - stage: "tflint_comm"
    dependsOn: "stage2_plan"
    jobs:
      - job: "tflint"
        displayName: "tflint"
        continueOnError: true
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: |
              # Write your tflint commands here.
              
              tflint --recursive

  - stage: "tfsec"
    dependsOn: "stage2_plan"
    jobs:
      - job: "tfsecccc"
        displayName: "tfsec"
        continueOnError: true
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: |
              # Write your  tfsec commands here.
              
              tfsec

  - stage: "trivy"
    dependsOn: "stage2_plan"
    jobs:
      - job: "trivy"
        displayName: "trivy scan"
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: |
              # Write your trivy commands here.
              
              trivy config .
         
  - stage: "infraCost"
    dependsOn: "stage2_plan"
    jobs:
      - job: "cost_infra"
        displayName: "costtt"
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            backendServiceArm: 'infra_conn'
            backendAzureRmStorageAccountName: 'vinodstoragemaina'
            backendAzureRmContainerName: 'container22'
            backendAzureRmKey: 'vinodkey.tfstate'
        
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: |
              Write-Host "Setting API key"
               $env:INFRACOST_API_KEY = "$(INFRACOST_API_KEY)"
              
              Write-Host "API key loaded? ->" $env:INFRACOST_API_KEY
              
               infracost breakdown --path=.
            workingDirectory: '$(System.DefaultWorkingDirectory)'


 