trigger:
  - none

pool: 
  name: "agent1_pool"
 
stages:
  - stage: "Stage1"
    jobs:
      - job: infra_install
        displayName : "latrw"
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
      - job: infra_init
        displayName: "init"
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'

      - job: "infra_validate"
        displayName: "validate"
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'validate'

      -  job: "infra_plan"
         displayName: "plan"
         steps:
         - task: TerraformTask@5
           inputs:
             provider: 'azurerm'
             command: 'plan'

      -  job: "infra_apply"
         displayName:  "apply"
         steps:
         - task: TerraformTask@5
           inputs:
             provider: 'azurerm'
             command: 'apply'
             commandOptions: '-auto-approve'
