trigger:
  - none

pool: 
  name: "agent1_pool"
 
stages:
  - stage: "Stage1_download_init_validate"
    jobs:
      - job: infra_install
        displayName : "latrw"
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
       
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            backendServiceArm: 'infra_conn'
            backendAzureRmStorageAccountName: 'vinodstoragemain'
            backendAzureRmContainerName: 'container22'
            backendAzureRmKey: 'vinodkey2.tfstate'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'validate'

  -  stage: "stage2_plan"
     dependsOn: "Stage1_download_init_validate"
     jobs:
     - job: "infra_plan"
       displayName: "infra plan"   
       steps:
       - task: TerraformInstaller@1
         inputs:
           terraformVersion: 'latest'
       - task: TerraformTask@5
         inputs:
           provider: 'azurerm'
           command: 'init'
           backendServiceArm: 'infra_conn'
           backendAzureRmStorageAccountName: 'vinodstoragemain'
           backendAzureRmContainerName: 'container22'
           backendAzureRmKey: 'vinodkey.tfstate'
       - task: TerraformTask@5
         inputs:
           provider: 'azurerm'
           command: 'plan'
           environmentServiceNameAzureRM: 'infra_conn'
         
       

  - stage: "stage3_apply"
    dependsOn: "stage2_plan"
    jobs:
      - job: "terrafomr_apply"
        displayName: "apply"
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            backendServiceArm: 'infra_conn'
            backendAzureRmStorageAccountName: 'vinodstoragemain'
            backendAzureRmContainerName: 'container22'
            backendAzureRmKey: 'vinodkey.tfstate'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'apply'
            commandOptions: '-auto-approve'
            environmentServiceNameAzureRM: 'infra_conn'