trigger:
  - none

pool: 
  name: "agent1_pool"
 
stages:
  - stage: "Stage1"
    jobs:
      - job: infra_install
        displayName : "latrw"
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
       
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            backendServiceArm: 'infra_conn'
            backendAzureRmStorageAccountName: 'vinodstoragemain'
            backendAzureRmContainerName: 'container22'
            backendAzureRmKey: 'vinodkey2.tfstate'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'validate'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            environmentServiceNameAzureRM: 'infra_conn'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'apply'
            commandOptions: '-auto-approve'
            environmentServiceNameAzureRM: 'infra_conn'